.Header-Container {
    display: flex;
    flex-wrap: wrap;
    hr {
        width: 90%;
    }
    a {
        text-decoration: none;
        font-size: 24px;
        font-weight: 700;
    }
    button{
        background-color: #fff;
        border: none;
    }
}