.Main-Container {
    background-image: url("../../assets/img/background.png");
    height: 900px;

    .Header-logo-container {
        width: 1780px;
        margin: 0px auto;

        img {
            // position: absolute;
            // left: 70px;
            // top: 25px;
            width: 236px;
            height: 38px;
        }
        hr {

            height: 1px;
        }
    }

    button {
        display: flex;
        justify-content: center;
        padding: 18px 60px;
        gap: 20px;
        color: #fff;
        background-color: #1A1A1A;
        width: 464px;
        height: 60px;
        left: calc(50% - 464px/2);
        border-radius: 8px;
        margin: 464px auto;
        cursor: pointer;

    }

    button:hover {
        color: gainsboro;
        background-color: #353232;

    }

    a {
        text-decoration: none;
    }
    .Stamp {
        position: absolute;
        top: 55%;
        left: 1076px;
        
    }

}