.Resume-Container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    height: 1080px;
    margin: 2% auto;
    button {
        position: absolute;
        left: 100px;
        top: 100px;
    }
    hr {
        width: 662px;
    }
}