.Resume-Container {
    margin: 2% auto;

    .Back-button-resume {
        img {
            display: flex;
            justify-content: center;
            position: absolute;
            left: 10%;
            top: 12%;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            width: 16px;
            height: 16px;
            color: #1A1A1A;
            background-color: #F9F9F9;
            padding: 10px;
            border-radius: 50%;
        }
    }

    hr {
        width: 662px;
    }

    .Resume-Page {
        width: 822px;
        height: 1080px;
        margin: 54px auto;
        border: 0.8px solid #000000;

        h2 {
            color: #F93B1D;
        }

        p {
            width: 662px;
        }

        span {
            font-style: italic;
            color: #909090;
        }

        .Personal-Container {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            margin-left: 10%;

            h1 {
                color: #F93B1D;
                margin-top: 68px;
                width: 60%;
            }

            .Profile-Photo {
                width: 246px;
                height: 246px;
                border-radius: 133px;
                margin-top: 48px;
            }

            ul {
                list-style-type: none;
                margin-left: -5%;
                margin-top: -20%;

            }

            .About-Me-Resume {
                width: 100%;
                margin-top: -15%;

                p {
                    width: 60%;

                }
            }

        }

        .Expirience-Container {
            margin-left: 10%;

        }

        .Education-Container {
            margin-left: 10%;



        }
    }

    .Resume-Popup-Container {
        position: absolute;
        top: 12%;
        right: 2%;
        width: 427px;
        height: 167px;
        border: 1px solid red;
        background-color: #FFFFFF;
        border: 1px solid #E4E4E4;
        box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        h2 {
            text-align: center;
            padding: 40px;
        }
        button {
            padding: 5px;
            width: 20px;
            height: 20px;
            margin-right: 10px;
            font-size: 20px;
            background-color: #FFFFFF;
            border: none;
            float: right;
            border-radius: 8px;
            cursor: pointer;
        }
    }
}