
    .Second-Side {
        border: 1px solid skyblue;
        width: 39%;
        height: 90%;
        .Personal-info {
            text-align: center;
            border: 1px solid blue;
          }
          .Expirience-info {
            border: 1px solid red;
            text-align: center;
        }
        .Education-info {
            border: 1px solid green;
            text-align: center;

        }
    }

   

