.Second-Side {
    border: 1px solid skyblue;
    width: 39.6%;
    height: 90%;

    .Personal-info {
        display: flex;
        flex-wrap: wrap;
        margin-left: 10%;
        height: 341px;

        .Profile-Photo {
            width: 246px;
            height: 246px;
            border: 1px solid red;
            border-radius: 133px;
            margin-top: 48px;
    
        }

        h1 {
            color: #F93B1D;
            width: 60%;
            height: 40px;
            margin-top: 68px;
        }

        ul {
            list-style-type: none;
            margin-left: -15%;
            margin-top: -68%;
        }

        .About-Me {
            width: 70%;

            h3 {
                color: #F93B1D;
                height: 20px;
                text-align: left;
                margin-top: -25%;
            }

            p {
                width: 79%;
                padding: 0;


            }
        }

        hr {
            width: 662px;
            height: 1px;
            margin-right: 80px;
            
        }


    }

    .Expirience-info {
        margin-left: 10%;
       
        h1 {
            color: #F93B1D;
        }

        h2 {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
        }
        h3 {
            color: #F93B1D;
        }
        h4 {
            font-style: italic;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #919191;
        }

    }

    .Education-info {
        margin-left: 10%;
        height: 341px;
        h3 {
            color: #F93B1D;
        }

    }
    .something-logotip-botton {
        position: absolute;
        margin-top: 45%;
    }
}