.Second-Side {
    // border: 1px solid skyblue;
    width: 39.6%;
    height: 90%;
    h2 {
        color: #F93B1D;
        height: 20px;
        text-align: left;
    }
    hr {
        width: 662px;
        height: 1px;
        margin-right: 80px; 
    }
    span {
        font-style: italic;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #919191;
    }

    .Personal-info {
        display: flex;
        flex-wrap: wrap;
        margin-left: 10%;
        height: 341px;
    
        .Profile-Photo {
            width: 246px;
            height: 246px;
            border-radius: 133px;
            margin-top: 48px;
            // border: 1px solid red;
        }

        h1 {
            color: #F93B1D;
            width: 60%;
            height: 40px;
            margin-top: 68px;
        }

        ul {
            list-style-type: none;
            margin-top: -180px;
            margin-left: -14%;
        }

        .About-Me {
            width: 500px;
            margin-top: -130px;
 
            p {
                width: 79%;
             
            }
        }
    }

    .Expirience-info {
        margin-left: 10%;
        h1 {
            color: #F93B1D;
        }
        p{
            width: 570px;
        }
    }

    .Education-info {
        margin-left: 10%;
        height: 341px;
        h3 {
            color: #F93B1D;
        }
        p{
            width: 570px;
        }

    }


    
    .something-logotip-botton {
        position: absolute;
        margin-top: 45%;
    }
}